@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;600;700;800&display=swap');

/*--General Styling--*/
    * {
        margin: 0;
        padding: 0;
        
    }

    body {
    font-family: 'Open Sans', sans-serif;
    color: #545454;
    }

/*--Navbar--*/
   
nav {
       margin: 0;
        min-height: 15vh;
        font-family: 'Exo 2', sans-serif;
        background-color: #f2f2f2;
   }

   .navbar-logo a img {
        border: 1px solid #545454;
        float: left;
        margin-left: 20px;
        margin-top: 20px;
        }

    .nav-item {
        padding-right:20px;
        }
    
    .navbar-list-items i{
        margin-right: 5px;
    }

    .navbar-list-marker {
        margin: 5px 20px 0px 20px;
        }

    .navbar-list-items a {
        color: inherit;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 500;
    }

    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
        color:#D99E89;
    }

/*--Hero section--*/

    #hero-section{
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        position: relative;
        }

    .hero-image {
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("/assets/images/heroalt.jpeg");
        background-size: cover;
        background-position:center;
    }

    .hero-text{
        min-width: 20vw;
        min-height:30vh;

        position: absolute;
        top: 25%;
        right: 5%;

        margin-left: 10px;
        padding-top: 25px;

        background-color: #5B89A675;    
        text-align: right;
    }

    .hero-text-title{
        font-family: 'Exo 2', sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        color: #f2f2f2;

        margin-bottom: 50px;
    }
    .hero-text h2{
        color: #545454;
    }

    /*--Clinical Biochemistry section--*/

    .clin-bio-section{
        padding-top: 30px;
        padding-bottom: 30px;
        min-height: 300px;
        background-color: #D99E89;
    }

    .clin-bio-section li {
        font-family: 'Exo 2', sans-serif;
        list-style: none;
        margin:30px;
    }

    .clin-bio-section li .btn-light{
        background-color: #f2f2f2;
        min-width:325px;
        text-align: left;
    }

    .clin-bio-section li i{
        color:#5B89A6;
        padding-right: 10px;
        
    }

    .clin-bio-section button{
        font-size: 100%;    
    }

    .clin-bio-section h2{
        padding-top: 30px;
        padding-bottom:30px;
        color: #f2f2f2;
        font-family: 'Exo 2', sans-serif;
        text-align: center;
        }

    .clin-bio-section p{
        color:#f2f2f2;
        margin-top: 10px;
    }


/*--Haematology section--*/

    .haem-section{
        padding-top: 30px;
        padding-bottom:30px;
        min-height: 300px;
        background-color: #8B518C;
    }

    .haem-section li {
        font-family: 'Exo 2', sans-serif;
        list-style: none;
        margin: 30px;
    }

    .haem-section li .btn-light{
        background-color: #f2f2f2;
        min-width: 325px;
        text-align: left;
    }

    .haem-section li i{
        color:#5B89A6;
        padding-right: 10px;
    }

    .haem-section button{
        font-size: 100%;    
    }
    .haem-section h2{
        padding-top: 30px;
        padding-bottom:30px;
        margin: auto;
        color: #f2f2f2;
        font-family: 'Exo 2', sans-serif;
        text-align: center;
        }

    .haem-section p{
        margin-top: 20px;
        margin: auto;
        color:#f2f2f2;
    }

/*--Microbiology section--*/

    .micro-section{
            padding-top: 30px;
            padding-bottom:30px;
            min-height: 300px;
            background-color: #033859;
        }

        .micro-section li {
            font-family: 'Exo 2', sans-serif;
            list-style: none;
            margin: 30px;
        }

        .micro-section li .btn-light{
            background-color: #f2f2f2;
            min-width: 325px;
            text-align: left;
        }

        .micro-section li i{
            color:#5B89A6;
            padding-right: 10px;
        }

        .micro-section button{
            font-size: 100%;    
        }

        .micro-section h2{
            padding-top: 30px;
            padding-bottom:30px;
            margin: auto;
            color: #f2f2f2;
            font-family: 'Exo 2', sans-serif;
            text-align: center;
            }

        .micro-section p{
            margin-top: 20px;
            margin: auto;
            color:#f2f2f2;
        }

/*--Footer section--*/

    footer{ font-family: 'Exo 2', sans-serif;}

    .footer-list {
        list-style: none;
        display: flex;
        flex-direction: reverse;
        position: relative;
        }

    .footer-list-marker {margin-top: 25px;}

    .footer-list a{
        color: inherit;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    .footer-item{
        margin: 25px 50px 0px 50px;
    }

    .footer-item-right{
        position: absolute;
        right: 50px;
        margin-top: 25px;
    }
    .footer-media{
        position: absolute;
        width: 100%;
        left: 0px;
    }

    .footer-org{
        position: absolute;
        width: 100%;
        right: 0px;    
    }

/*--Media Queries--*/

     @media screen and (min-width: 577px) {
       .hero-text-title {
           font-size: 45px;
       }
       .hero-text h2{
           font-size: 40px;
       }
   }

   @media screen and (max-width: 576px) {
       .hero-text-title {
           font-size: 30px;
           text-align: center;
           margin-bottom: 25px;
        }
       .hero-text h2{
        padding-top: 25px;    
        font-size: 25px;
        text-align: center;
        }
       .hero-text{
           background-color: #5B89A6;
           top:15%     ;
           right:15%;
        }
       #hero-section{
           background-color: #545454;
           height:50vh;
        }
       .clin-bio-section li i{
        color:#5B89A6;
        padding-right: 5px;
        }
        .list-btn{
            padding: 2px;
        }
        .clin-bio-section li .btn-light{
        background-color: #f2f2f2;
        min-width:150px;
        min-height:75px;
        text-align: center;
        font-size: 90%;
        }
        .clin-bio-section p{
        text-align: justify;
        }
        .haem-section li .btn-light{
        background-color: #f2f2f2;
        min-width:150px;
        min-height:75px;
        text-align: center;
        font-size: 90%;
        }
        .haem-section p{
        text-align: justify;
        }
        .micro-section li .btn-light{
        background-color: #f2f2f2;
        min-width:150px;
        min-height:75px;
        text-align: center;
        font-size: 90%;
        }
        .micro-section p{
        text-align: justify;   
        }
    }